<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-3">
        <div class="col-8 offset-2" >
            <h3>EDIT YOUR LISTING</h3>
            <form action="/listings/<%=listing._id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3"> 
                    <label for="title" class="form-label">Ttile</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                    <div class="invalid-feedback">Please enter title</div>
                </div>
                <div class="mb-3">
                    <label for="discription" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">Please enter description</div>
                </div>
                <div class="mb-3">
                    original listing image <br>
                    <img src="<%=originalImageUrl%>" alt="">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">New Image Link</label>
                    <input type="file" name="listing[image]"  class="form-control" >
                    <div class="invalid-feedback">Please enter image url</div>
                </div>
        
                <div class="row">
                    <div class="mb-3 col-md-4 m">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                        <div class="invalid-feedback">Please enter price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">Please enter country name</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Please enter location name</div>
                </div>
        
        
        
                <button class="btn btn-dark edit-btn mt-3">EDIT</button>
                <br>
                <br>
            </form>
        </div>
    </div>
    
    
